@model List<Magasin.Models.Product>
@using (Html.BeginForm("FilterByPrice", "Products", FormMethod.Get))
{
    <label for="minPrice">Min Price:</label>
    <input type="number" id="minPrice" name="minPrice" min="0" />

    <label for="maxPrice">Max Price:</label>
    <input type="number" id="maxPrice" name="maxPrice" min="0" />

    <input type="submit" value="Filter By Price" />
}

<h1>Produits Filtrés</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Description</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>@product.Description</td>
                
            </tr>
        }
    </tbody>
</table>
